
<div id="expo">
	Please enter a Chinese Number in the search field. We accept Traditional, Simplified, decimals, negative numbers and factors up to 10^12. No fractions or measure words, please. 
	
	The algorithm does not check for well written Chinese, it just tries to make sense of it, so if you input garbage in you should expect garbage out.
</div>
	
	