<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Numbers Sinapp - ©  Xinaptic LLC, 2013 </title>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		
		<link href="css/basic_style1.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="js/numbersinapp.js"></script>
		
		<link type="text/css" rel="stylesheet" href="js/tiptip/tipTip.css" />
		<script type="text/javascript" src="js/tiptip/jquery.tipTip.minified.js"></script>
		
	</head>
		
	<body>
		<div>
			<div id="header">
				
					<span id='head' onclick="window.location.href='/';">
						<font style="color:#BE0000;">Chun Fu</font>
					</span>
					<span id='subhead'>Chinese Numbers Kung Fu</span>
					<table id="tabulary" >
						<thead>
								<tr>
									<th>
										<input id="sourcestring" name="sourcestring" value="" action="alert('hila')"/>
									</th>
									<th>
										<input type="submit" id="mysubmit" value="Convert" />
									</th>
								</tr>

						</thead>
						<tbody/>
					</table>
			</div>
			
        	
			<%= yield %>
			
			<div id="footer">
				<p>Xinaptic LLC © 2012</p>
				<p><a href="http://rubytree.rubyforge.org/">RubyTree</a> © by Anupam Sengupta, 2012. <a href="http://code.drewwilson.com/entry/tiptip-jquery-plugin">TipTip</a> © by Drew Wilson, 2010.</p>
			</div>
		</div>
	</body>
</html>
