span.vip{
  background-color: yellow;
}

#expo{
  width: 100%;
}

#tabulous > th,tr,td{
  width: auto;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  color: black;
  border: 1px solid red;
}

td.low{
  vertical-align: bottom;
}



